@model MyDemoApp.Models.User

@{
    ViewBag.Title = "ForgotPassword";
}

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.username)</td>
            <td>@Html.TextBoxFor(a => a.username)</td>
            <td>@Html.ValidationMessageFor(a => a.username)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Send Password" />
            </td>
            <td></td>
        </tr>
    </table>
    </fieldset>
}  